:root {
  --color: #274C5B;
  --weak-color: #7EB693;
  --serif: "Open Sans", serif;
  --weak-serif: "Roboto", serif;
}

header {
  padding-top: 40px;
  padding-bottom: 38px;
}

.container {
  width: 1380px;
  margin: auto;
}

header .container {
  display: flex;
  align-items: center;
}

header a.logo {
  padding-right: 120px;
}

header ul {
  display: flex;
  justify-content: space-around;
  width: 544px;
}

header li {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  color: var(--color);
  padding-right: 40px;
}

header li:hover {
  color: var(--weak-color);
}

header .basket {
  display: flex;
  align-items: center;
  margin-left: 336px;
  border: 1px solid #D4D4D4;
  border-radius: 33px;
}

.basket a {
  padding-left: 11px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.basket p {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: var(--color);
  padding-left: 10px;
  padding-right: 28px;
}

.basket p:hover {
  color: var(--weak-color);
}

.welcome {
  background-image: url(img/img/background-welcome.png);
  background-repeat: no-repeat;
  width: 1440px;
  height: 930px;
  margin: auto;
  padding-bottom: 142px;
}

.welcome h3 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  color: var(--weak-color);
  margin: 0;
  padding-top: 220px;
}

.welcome h2 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 84px;
  color: var(--color);
  max-width: 496px;
  margin: 0;
  padding-top: 14px;
}

.welcome button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color);
  width: 219px;
  height: 82px;
  background-color: #EFD372;
  border-radius: 10px;
  margin-top: 30px;
  padding: 0;
}

.welcome button p:hover {
  color:var(--weak-color);
}

.welcome p {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  margin: 0;
  padding-left: 33px;
}

.adventising {
  padding-bottom: 140px;
}

.adventising .container {
  display: flex;
  justify-content: space-between;
}

.adventising p {
  margin: 0;
  padding-top: 105px;
  padding-left: 55px;
}

.adventising h4 {
  margin: 0;
  padding-left: 55px;
}

.adventising .natural {
  background-image: url(img/img/background-nature.png);
  width: 665px;
  height: 378px;
}

.adventising .natural p {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  color: white;
}

.adventising .natural h4 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: white;
  max-width: 45%;
}

.adventising .offer {
  background-image: url(img/img/background-offer.png);
  width: 665px;
  height: 378px;
}

.adventising .offer p {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  color: var(--weak-color);
}

.adventising .offer h4 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: var(--color);
  max-width: 255px;
}

.about_us {
  background-color: #F9F8F8;
  width: 1440px;
  height: 1006px;
  margin: auto;
  margin-bottom: 120px;
}

.about_us .container {
  display: flex;
}

.about_us .background_about_us {
  padding-top: 177px;
}

.about_us .column {
  padding-left: 30px;
  padding-top: 130px;
  padding-left: 30px;
}

.about_us h2 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  color: var(--weak-color);
  margin: 0;
}

.about_us h3 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  color: var(--color);
  max-width: 521px;
  margin: 0;
  padding-bottom: 22px;
}

.about_us h5 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #525C60;
  margin: 0;
  max-width: 650px;
  padding-bottom: 56px;
}


.about_us .row {
  display: flex;
  margin-bottom: 25px;
}

.about_us .name {
  padding-left: 20px;
}

.about_us h4 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  color: var(--color);
  margin: 0;
  padding-bottom: 9px;
}

.about_us p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #525C60;
  margin: 0;
  max-width: 511px;
}

.about_us button {
  display: flex;
  align-items: center;
  width: 199px;
  height: 82px;
  background-color: var(--color);
  border-radius: 10px;
  margin-top: 50px;
}

.about_us button p {
  color: white;
  padding-left: 33px;
  padding-right: 25px;
}

.about_us button p:hover {
  color: var(--weak-color);
}

.products {
  padding-bottom: 140px;
}

.products h3 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  color: var(--weak-color);
  text-align: center;
  margin: 0;
}

.products h2 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  color: var(--color);
  text-align: center;
  margin: 0;
  padding-bottom: 40px;
}

.products .product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;
}

.products .column {
  background-color: #F9F8F8;
  border-radius: 30px;
  width: 447px;
  height: 590px;
}

.products p {
  display: inline-block;
  font-family: var(--serif);
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  color: white;
  padding: 5px 20px;
  background-color: var(--color);
  border-radius: 6px;
  margin-left: 33px;
  margin-top: 30px;
}

.products img:first-child {
  padding-left: 30px;
}

.products h4 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: var(--color);
  margin: 0;
  padding-top: 20px;
  padding-left: 30px;
}

.products hr {
  width: 387px;
  height: 1px;
  margin: auto;
  background-color: #D4D4D4;
 border: none;
}

.products .row {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 30px;
}

.products h5 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: var(--color);
  margin: 0;
  padding-right: 50px;
}

.products span {
  color: #B8B8B8;
  text-decoration: line-through;
  padding-right: 10px;
}

.Testimonial {
  background-image: url(img/img/background-testimonial.png);
  width: 1440px;
  height: 1248px;
  margin: auto;
}

.Testimonial .container {
  text-align: center;
}

.Testimonial h3 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  color: var(--weak-color);
  padding-top: 130px;
  margin: 0;
}

.Testimonial h2 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  color: var(--color);
  margin: 0;
  padding-bottom: 60px;
}

.Testimonial img.people {
  padding-bottom: 18px;
}

.Testimonial .stars {
  padding-bottom: 30px;
}

.Testimonial h4 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  max-width: 900px;
  margin: auto;
  color: #525C60;
  padding-bottom: 23px;
}

.Testimonial h5 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  color: var(--color);
  margin: 0;
}

.Testimonial p {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #525C60;
  margin: 0;
  padding-bottom: 96px;
}

.Testimonial hr {
width: 966px;
padding: 1px;
margin: auto;
background-color: #E0E0E0;
border: none;
margin-bottom: 100px;
}

.Testimonial .row {
  display: flex;
}

.Testimonial h6 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--color);
  height: 250px;
  width: 250px;
  border: 6px solid var(--weak-color);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  margin-right: 26px;
}

.Testimonial h6:first-child {
  margin-left: 130px;
}

.Testimonial h6 span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  color: var(--color);
}

.offer {
  height: 1060px;
  background-color: var(--color);
  margin: auto;
}


.offer .names {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer h2 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  color: var(--weak-color);
}

.offer h3 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  color: white;
}

.offer button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 267px;
  height: 82px;
  background-color: #EFD372;
  border-radius: 10px;
}

.offer button p {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #274C5B;
  margin: 0;
}

.offer button p:hover {
  color: var(--weak-color);
}

.offer .product {
  display: flex;
  gap: 20px;
}

.offer .column {
  width: 447px;
  height: 590px;
  background-color: #F9F8F8;
  border-radius: 30px;
}

.offer .product p {
  display: inline-block;
  font-family: var(--serif);
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  color: white;
  margin: 0;
  padding: 6px 20px;
  background-color: var(--color);
  border-radius: 6px;
  margin-top: 20px;
  margin-left: 20px;
}

.offer .product h4 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 35px;
  color: var(--color);
  margin: 0;
  padding-bottom: 10px;
  padding-left: 30px;
}

.offer hr {
  width: 387px;
  margin: auto;
  background-color: #D4D4D4;
  margin: auto;
  border: none;
  height: 2px;
}

.offer .row {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.offer h5 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: var(--color);
  margin: 0;
  padding-right: 87px;
}

.offer span {
  color: #B8B8B8;
  text-decoration: line-through;
  padding-right: 10px;
}

.picture {
  padding-bottom: 130px;
}

.picture .container {
  width: 1440px;
  height: 860px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFF6F1;
}

.picture .card {
  width: 460px;
  height: 580px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/img/FRUIT-picture.png);
}

.picture .card h4:hover {
  box-shadow: 0px 0px 3px 3px var(--weak-color);
}

.picture .card:first-child {
  background-image: url(img//img/organic-food-picture.png);
}

.picture .card:last-child {
  background-image: url(img/img/nuts-picture.png);
}

.picture h4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: var(--color);
  padding: 30px 79px;
  background-color: white;
  border-radius: 16px;
}
.discover {
  padding-bottom: 157px;
}

.discover .names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 106px;
}

.discover h2 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 65px;
  color: var(--weak-color);
  margin: 0;
}

.discover h3 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  color: var(--color);
  margin: 0;
}

.discover .first {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 210px;
  height: 82px;
  background-color: #fff;
  border: 1px solid var(--color);
  border-radius: 10px;
}

.discover .first p {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: var(--color);
}

.discover .first p:hover {
  color: var(--weak-color);
}

.discover .info {
  display: flex;
  justify-content: space-around;
}

.discover .columns {
  width: 610px;
  height: 337px;
  background-color: white;
  border-radius: 10px;
  margin-top: 250px;
  margin-left: 30px;
  box-shadow: 3px 2px 3px 2px#EEEEEE;
}

.discover .column:first-child {
  background-image: url(img/img/background-discover-carrot.png);
  background-repeat: no-repeat;
  width: 670px;
}

.discover .column:last-child {
  background-image: url(img/img/background-discover-tomato.png);
  background-repeat: no-repeat;
  width: 670px;
}

.discover .people {
  display: flex;
  padding-top: 53px;
  padding-left: 30px;
  padding-bottom: 13px;
}

.discover .column p {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: var(--color);
  margin: 0;
}

.discover h5 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: var(--color);
  margin: 0;
  padding-left: 30px;
  padding-bottom: 38px;
}

.discover h4 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #525C60;
  margin: 0;
  max-width: 440px;
  padding-left: 30px;
  padding-bottom: 22px;
}

.discover .second {
  display: flex;
  background-color: white;
}

.discover .second h5 {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
margin: 0;
padding-bottom: 0;
padding-right: 10px;
}

.discover .second h5:hover {
  color: var(--weak-color);
}

.subscribe {
  padding-bottom: 183px;
}

.subscribe .container {
  display: flex;
  justify-content: space-between;
  background-image: url(img/img/background-subscribe.png);
  height: 320px;
}

.subscribe h3 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: white;
  padding-left: 70px;
  max-width: 40%;
  margin: 0;
  padding-top: 100px;
}

.subscribe .form {
  display: flex;
  align-items: center;
}

.subscribe input {
  padding: 26px 101px 26px 30px;
  border-radius: 10px;
  font-family: var(--serif);
  color: #525C60;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.subscribe button {
  display: flex;
  justify-content: space-around;
  width: 197px;
  height: 82px;
  align-items: center;
  background-color: var(--color);
  border-radius: 10px;
  margin-right: 80px;
  margin-left: 10px;
}

.subscribe p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: white;
}

.subscribe p:hover {
  color: var(--weak-color);
}

footer .row {
  display: flex;
  justify-content: space-between;
}

footer .column {
  width: 670px;
  height: 369px;
  text-align: center;
}

footer .column:first-child {
  width: 270px;
  height: 369px;
  text-align: right;
}

footer .column:first-child h4 {
  padding-top: 38px;
}
footer .column:first-child p {
  padding-top: 5px;
}

footer .column:nth-child(2) p {
  padding-bottom: 60px;
  padding-top: 50px;
}

footer .column:nth-child(2) a {
  padding-right: 20px;
}


footer .column:last-child {
  width: 335px;
  height: 369px;
  text-align: left;
}

footer .column:last-child h2 {
  padding-bottom: 20px;
}

footer .column:last-child p {
  padding-bottom: 24px;
}

footer h2 {
  font-family: var(--weak-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: var(--color);
  margin: 0;
}

footer h4 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #525C60;
  margin: 0;
}

footer p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #525C60;
  margin: 0;
}

footer .center {
  max-width: 80%;
  margin: auto;
}

footer hr {
  width: 1440px;
  height: 1px;
  background-color: #D5D5D5;
  border: none;

}

footer .copyright p{
  text-align: center;
}